@import '../../constants.scss'; 

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 5px solid $raif-yellow;
  padding: 0 40px;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  align-items: center;
  .header-logo {
    height: 50px;
    margin: 0 10px;
  
    &.raif {
      height: 35px;
    }
  }
}


.header-text {
  // margin-left: 40px;
}